<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Пользователи</title>
  </head>
  <body>
    <h1>Список пользователей</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Данные</th>
        </tr>
      </thead>
      <tbody>
        {% for i in result %}
        <tr>
          <td>{{ i }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
